
<div class="content-wrapper" style="padding:0rem;"   th:fragment="content">
  <div class="page-header">
    <h3 class="page-title">
      Statistics 
    </h3>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Charts</a></li>
        <li class="breadcrumb-item active" aria-current="page">Chart-js</li>
      </ol>
    </nav>
  </div>
  <div class="row">
    <div class="col-lg-9 grid-margin stretch-card mx-auto">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Request Statistics</h4>
          <canvas id="areaChart" style="height:250px"></canvas>
        </div>
      </div>
    </div>
  </div>
  <script src="vendors/js/vendor.bundle.base.js"></script>
  <script src="/vendors/js/vendor.bundle.addons.js"></script>
  <!-- endinject -->
  <!-- inject:js -->
  <script src="js/off-canvas.js"></script>
  <script src="js/misc.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <!-- <script src="js/chart.js">
  
  </script> -->
  <script th:inline="javascript">
  var statisResult = /*[[${statisResult}]]*/ 'default';
  console.log(statisResult);
  labelStat=[]
  dataStat=[]
  for (let index = 0; index < statisResult.length; index++) {
    timeReq=statisResult[index].timeReq
    console.log(timeReq);
    
    labelStat.push(timeReq.substr(8,2)+"-"+timeReq.substr(5,2))
    dataStat.push(parseInt(statisResult[index].numReq))
  }
  console.log(labelStat);
  console.log(dataStat)
  var areaData = {
    labels:labelStat, //["2013", "2014", "2015", "2016", "2017","2017"],
    datasets: [{
      label: '# of Request',
      data: dataStat,//[12, 19, 3, 5, 2,7, 3],
      backgroundColor: [
        'rgba(255, 99, 132, 0.2)',
      ],
      borderColor: [
        'rgba(255,99,132,1)',
      ],
      borderWidth: 1,
      fill: true, // 3: no fill
    }]
  };

    var areaOptions = {
      scales: {
            yAxes: [{
                ticks: {
                  min: 0,
                  stepSize: 1,
                  // max: 4
                }
            }]
        },
      plugins: {
        filler: {
          propagate: true
        }
      }
    }

    if ($("#areaChart").length) {
      var areaChartCanvas = $("#areaChart").get(0).getContext("2d");
      var areaChart = new Chart(areaChartCanvas, {
        type: 'line',
        data: areaData,
        options: areaOptions
      });
    }
  </script>
</div>
