<div class="content-wrapper"  th:fragment="content">
  <style>
    ul {
      display: flex;
    }

    li {
      list-style-type: none;
      padding: 10px;
      position: relative;
    }

    .large {
      position: absolute;
      left: -9999px;
    }

    li:hover .large {
      left: 150px;
      top: -150px;
    }

    .large-image {
      border-radius: 4px;
      box-shadow: 1px 1px 3px 3px rgba(127, 127, 127, 0.15);
      ;
    }

    li>img {
      width: 40px;
    }
  </style>
  <div class="page-header">
    <h3 class="page-title">
      Basic Tables
    </h3>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Tables</a></li>
        <li class="breadcrumb-item active" aria-current="page">Database</li>
      </ol>
    </nav>
  </div>
  <div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Images Table</h4>
          <p class="card-description">
            BK-15 <code>.thesis</code>
          </p>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>
                  id
                </th>
                <th>
                  vaule
                </th>
                <th>
                  Date Time
                </th>
                <th>
                  Meta1
                </th>
                <th>
                  Meta2
                </th>
                <th>
                  Token
                </th>
                <th>
                    Delete
                 </th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="item, iterStat : ${listImages}">
                <td th:text="${item.id}"></td>

                <td class="py-1">
                  <ul>
                    <li>
                      <img style="min-width: 100px;min-height:100px" th:src="${item.value}" alt="adventure">
                      <span class="large">
                        <img style="min-width: 300px;min-height: 300px;border-radius:0%" th:src="${item.value}"
                          class="large-image" alt="adventure">
                      </span>
                    </li>
                  </ul>
                  <!-- <img src="../../images/faces-clipart/pic-1.png" alt="image"/> -->
                </td>
                <td th:text="${item.timedetail}"></td>
                <td th:text="${item.meta1.substring(0,20)}+'...'"></td>
                <td th:text="${item.meta2}"></td>
                <td th:text="${item.token}"></td>
                <td><a type="button" class="btn btn-danger btn-xs" th:href="'/table/remove?imgid='+${item.id}" style="display:none">Delete</a></td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>